.search-input {
  border: none;
}

.search-input:focus {
  outline: none;
}

.disabled {
  cursor: not-allowed;
  color: #c5c3c3;
}

.pointer {
  cursor: pointer;
}

.crown {
  color: #ffc107;
}
.fa-user,
.fa-trash {
  font-size: 13px !important;
}

.border-none {
  border: none;
  outline: none;
}
.border-none:focus {
  outline: none;
}

.actions-container {
  z-index: 2;
  min-width: 120px;
  left: -100px;
  background-color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 5px 5px 5px #0000001f;
}

.group-member {
  font-size: 14px;
}
