.search-input {
  border: none;
}

.search-input:focus {
  outline: none;
}

.disabled {
  cursor: not-allowed;
  color: #c5c3c3;
}

.pointer {
  cursor: pointer;
}

.crown {
  color: #ffc107;
}
.fa-user,
.fa-trash {
  font-size: 13px !important;
}

.border-none {
  border: none;
  outline: none;
}
.border-none:focus {
  outline: none;
}
