<div class="container mt-5">

    <h5 class="main-title">Manage your memberships

    </h5>
    <div class="d-flex justify-content-between mb-3 ">
        <button type="button" class="btn btn-sm btn-dark ml-1" data-toggle="modal" data-target="#groupModal">
            NEW GROUP
        </button>
        <span class="border-bottom d-flex align-items-center">
            <input class="search-input" [(ngModel)]="searchValue" name="search-value" placeholder="Search a group here"
                type="text">
            <i class="fas fa-search"></i>
        </span>
    </div>
    <div class="table-responsive mt-4">
        <table class="table table-hover">
            <tbody>
                <tr *ngFor="let group of groups | filterByKeyorwd: searchValue; let i = index">
                    <td (click)="showGroupMembers(group)">
                        <div class="d-flex align-items-center justify-content-start">
                            <span *ngIf="!group.isEditing">{{ group.name }}</span>
                            <span *ngIf="group.isEditing">
                                <input autofocus [size]="group.name.length + 1" (click)="$event.stopPropagation()"
                                    [(ngModel)]="group.name" [id]="group.id" name="group"
                                    class="border-bottom border-none" type="text">
                                <i (click)="updateGroup(group); $event.stopPropagation()"
                                    class="fas fa-check pl-2 pointer"></i>
                            </span>
                            <div class="d-inline ml-2 crown" *ngIf="isGroupAdmin(group)">
                                <i data-toggle="tooltip" data-placement="top" title="Group admin"
                                    class="fas fa-crown"></i>
                            </div>
                            <span *ngIf="isGroupMember(group)" class="badge badge-light ml-2 font-weight-lighter">member
                            </span>
                        </div>


                        <div *ngIf="group.showingMembers" class="pl-2 pt-2">
                            <div class="p-1 group-member d-flex align-items-center justify-content-start"
                                *ngFor="let member of group?.members">
                                <i class="fas fa-user pr-2"></i>
                                {{ member.username }} ({{ member.email }})
                                <i (click)="removeUserFromGroup(member, group); $event.stopPropagation()"
                                    data-toggle="tooltip" data-placement="top" title="Remove from this group"
                                    class="fas fa-trash pl-2 pointer"></i>
                            </div>
                            <div *ngIf="group?.members.length === 0">
                                No members in this group
                            </div>
                        </div>
                    </td>
                    <td class="d-none d-md-flex justify-content-around">
                        <span class="pointer">
                            <i (click)="joinGroup(group)" data-toggle="tooltip" data-placement="top" title="Join Group"
                                *ngIf="!isGroupMember(group)" class="fas fa-sign-in-alt"></i>
                            <i data-toggle="tooltip" data-placement="top" title="Leave Group"
                                *ngIf="isGroupMember(group)"
                                (click)="removeUserFromGroup(this.user, group); $event.stopPropagation()"
                                class="fas fa-sign-out-alt"></i>
                        </span>

                        <span *ngIf="isGroupAdmin(group)" class="pointer" (click)="showGroupMembers(group)">
                            <i data-toggle="tooltip" data-placement="top" title="Toggle members" class="fas fa-users">
                            </i>
                        </span>
                        <span *ngIf="!isGroupAdmin(group)" class="disabled">
                            <i data-toggle="tooltip" data-placement="top"
                                title="You can't see members since you're not admin" class="fas fa-users">
                            </i>
                        </span>

                        <span (click)="toggleEdit(group)" *ngIf="isGroupAdmin(group)" class="pointer">
                            <i data-toggle="tooltip" data-placement="top" title="Edit" class="fas fa-pencil-alt"></i>
                        </span>
                        <span *ngIf="!isGroupAdmin(group)" class="disabled">
                            <i data-toggle="tooltip" data-placement="top" title="Can't edit groups you're not admin"
                                class="fas fa-pencil-alt">
                            </i>
                        </span>
                    </td>
                    <td class="d-xs-block d-md-none float-right position-relative">
                        <i (click)="toggleActions(group)" class="fas fa-ellipsis-v"></i>
                        <div class="position-absolute border-bottom border-top actions-container"
                            *ngIf="group.showingActions">
                            <div (click)="joinGroup(group)" class=" pb-2" *ngIf="!isGroupMember(group)">Join Group</div>
                            <div (click)="removeUserFromGroup(this.user, group); $event.stopPropagation()" class="pb-2"
                                *ngIf="isGroupMember(group)">Leave Group</div>
                            <div (click)="showGroupMembers(group)" class=" pb-2" *ngIf="isGroupAdmin(group)">See Members
                            </div>
                            <div (click)="toggleEdit(group)" class="pb-2" *ngIf="isGroupAdmin(group)">Edit</div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="(groups | filterByKeyorwd: searchValue)?.length === 0">
                    No groups to show.
                </tr>
                <tr *ngIf="loading">
                    <td colspan="3" class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- New Group Modal -->
<div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="groupModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="groupModalLabel">Create new group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input autofocus type="text" name="groupName" [(ngModel)]="newGroupName" class="form-control"
                        placeholder="Group name" aria-label="name">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" (click)="createGroup()" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>