.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42a948; 
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
}

.validation-error {
    font-size: 12px;
    color: red;
}